<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/common.css' /> 
  </head>
  <body>
    <div class="logo_container">
      <div class="title">微商户助手</div>
      <div class="content">
        <form name="myForm">
          <input type="text" name='useName' placeholder="请输入用户名" id="useName">
          <input type="password" name='password' placeholder="请输入密码" id="password">
        </form>
        <div class="btn" id="logo_tn">登录</div>
      </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script type="text/javascript">
      var btn = document.getElementById('logo_tn');
      btn.addEventListener('click', function (event) {
        var useName = document.getElementById('useName').value;
        var password = document.getElementById('password').value;
        if (useName == '') {
           return window.alert('请输入用户名')
        }
        if (password == '') {
          return window.alert('请输入密码')
        }
        $.post("/use-login", {name: useName, passWord: password}, function (res) {
          if (res.code != 0) {
            window.alert(res.msg)
          } else {
            window.localStorage.useInfo = JSON.stringify({ name: useName, passWord: password })
            location.href = "../home"
          }
        })
      })
    </script>
  </body>
</html>
